{% extends "base.html" %}


{% block content %}

<table id="example" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>SN</th>
			<th>Title</th>
			<th>Image</th>
			<th>Author</th>
		</tr>
	</thead>
	<tbody>
		{% for blog in allblogs %}
		<tr>
			<td>{{forloop.counter}}</td>

			<td><a href="">{{blog.tilte}}</a></td>
			<td>{{blog.image}}</td>
			<td><img src="{% if blog.image %}{{blog.image.url}}{% endif %}" width="100"></td>
			<td>{{blog.author}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}