{% extends "base.html" %}


{% block content %}

<div class = "row">
	<div class = "cd-md-4 mx-auto">
		<h4> Add new blog</h4>
		<form method = "POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }} 
			<button class = "btn btn-info btn-block "> Bujhaunus</button>
		</form>
		
	</div>

	
</div>

{% endblock %}