{% extends "base.html" %}


{% block content %}

<h3>Blog Delete</h3>
<form method = "Post">
{% csrf_token %}
<p>Are you Sure To delete?</p>
<button class = "btn btn-danger">yes</button>
<a href="/post/list/" class="btn btn-info"> No</a>
</form>
 




{% endblock %}