{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% if request.user.is_authenticated %}
	<p>logged in as:<span class = "text-info">{{ request.user}}</span> </p>
	<a href="/signout/">SignOut</a>
	{% else %}
	<a href="/signin/">SignIn</a>
	<a href="/signup/">SignUp</a>
	{% endif %}
	<hr>
	{% block content %}
	{% endblock %}
</body>
</html>