{% extends "base.html" %}


{% block content %}


{% if blogobject.image %}
<img src="{{blogobject.image.url}}" width="500">
{% else %}

<h4>No image</h4>
{% endif %}

<h4> Title: <small>{{blogobject.title}}</small></h4>
<p><b>Content:</b>{{blogobject.content}}</p>
<p><b>Author:</b>{{blogobject.author}}</p>

<h4> All Commments</h4>
{% for comment in blogobject.comment_set.all %}

<li>{{comment.commentor}} says:{{comment.comment}} {{comment.created_at|timesince}}</li>

{% endfor %}

<h4> Add new comment</h4>
<form method = "POST" action = "{% url 'umapp:blogcomment' blogobject.pk %}" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }} 
	<button class = "btn btn-info btn-block ">Post</button>
</form>



{% endblock %}