{% extends 'base.html' %}

{% block content %}
 	<h4>SignIn Here</h4>
 	{% if error %}
 	<li class = "text-danger"> {{error}} </li>
 	{% endif %}
 	<form method = "POST">
 		{% csrf_token %}
 		{{ form.as_p }}
 		<button>Sign Up</button>
 	</form>


 {% endblock %}